.addnew {
    font-size: 16px;
}

.editbtn {
    color           : #fff !important;
    background-color: #013a33 !important;
    border-color    : #013a33 !important;
}

.editbtn:hover {
    color           : #fff !important;
    background-color: #53297c !important;
    border-color    : #4d2673 !important;
}